<div class="content text-center">
    <h2 class="header-title">
        Selecione o Framework
    </h2>
    <ul class="list-libraries">
        <li>
            <a href="/laravel/#!/" popover-placement="bottom" popover-title="laravel" popover="Framework MVC back-end para construção de apliações agéis e poderosas em modelo de API restful" popover-trigger="mouseenter">
                <div class="box image-laravel"></div>
            </a>
        </li>
        <li>
            <a href="/yii" popover-placement="bottom" popover-title="laravel" popover="Framework MVC back-end para construção de apliações agéis e poderosas em modelo de API restful" popover-trigger="mouseenter">
                <div class="box image-yii"></div>
            </a>
        </li>
    </ul>
</div>